html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f1edde;
}

.advert-details-content img {
    max-width: 100%;
}

header {
    background-color: #051333;
}

#advertIndex {
    background-color: #f4f1e8;
}
