@{
    ViewData["Title"] = "About Us Page";
}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">

        <div class="col-12 col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-3 text-decoration-underline text-danger">
                НЕМА ИМЕ УШТЕ МУ МИСЛИМЕ!
            </h1>
            <p class="lead">
                Добредојдовте на платформата која ви овозможувава лесно и брзо да најдете најдобриот занаетчиски професионалец за вашите потреби!
                На нашиот вебсајт, ќе најдете разнообразни огласи за секаков вид на занаетчиски услуги, од молери и бравари, до електричари и гиспери.
                Со нашата широка селекција на огласи, можете да изберете најдобриот професионалец за вашиот проект, базиран на нивната експертиза и искуство.
                Ние го поврзуваме вашите потреби со најквалитетните занаетчиски услуги, обезбедувајќи ви удобност, безбедност и сигурност во изборот на вашиот следен професионален партнер.
            </p>
        </div>



        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/3760613/pexels-photo-3760613.jpeg?auto=compress&cs=tinysrgb&w=600"
                 alt="webphoto-advert" class="d-block mx-lg-auto img-fluid" width="600" />
        </div>

    </div>


</div>