@{
    ViewData["Title"] = "Contact Page";
}

<div class="container"">
    <div class="row align-items-center g-5 py-5">

        <div class="col-12 col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-3 text-decoration-underline text-danger">
       Страна за Контакт
            </h1>
            <div class="container"> 
            <p class="justify-content-around text-secondary">
                    За контакт информации на случаен избор, еве еден пример:

                    Изведувач: Александар Реноваторски
                    Телефонски број: 123-456-789
                    Е-пошта: aleksandar.renovatorski@example.com
                    Локација: Град Скопје, Република Северна Македонија

                    Ова се фиктивни информации и се користат само како пример. Ако сте во потрага по реални изведувачи за реновирање, ве молиме да користите специфични инфо сајтови за наоѓање на квалификувани професионалци.
                    </h1>

            </p>

            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1482.7116075006902!2d21.43545838069325!3d41.99118542616885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2smk!4v1692387289224!5m2!1sen!2smk" width="600" height="450" 
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
