@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Полотика на користење"]</h1>

<div class="markdown prose w-full break-words dark:prose-invert light text-center">
    <h1 class="mb-3 fw-bold"><strong>Политика за Користење на Вебсајт - Објавување на Огласи за Изведувачи</strong></h1>
    <br />
    <p>Добредојдовте на нашиот вебсајт за објавување огласи за изведувачи. Пред да продолжите со користење на оваа платформа, ве молиме внимателно прочитајте и се запознаете со нашата Полотика за користење
        <br />
        Оваа политика дефинира правила и услови кои се однесуваат на користењето на нашиот вебсајт и објавувањето на огласи за изведувачи. Со користењето на оваа платформа, се согласувате да ги прифатите и почитувате овие услови.</p><p>
        <strong>1. Објавување на Огласи:</strong>
        <br />
        1.1. Само лица стари 18 години и повеќе имаат дозвола да објавуваат огласи на нашиот вебсајт.
        <br />
        1.2. Објавувањето на огласи за изведувачи мора да биде точно и комплетно. Лажни и измамни информации не се дозволени.
    <br />
    </p><p>
        <strong>2. Содржина на Огласите:</strong>
        <br />
        2.1. Огласите мораат да бидат релевантни за услугите на изведувачите, како што се реновирање, градба, молерски услуги и слично.
        <br />
        2.2. Огласите не смеат да содржат обиди за промоција на неетички или незаконски активности.
    <br />
    </p><p>
        <strong>3. Одговорност:</strong>
        <br />
        3.1. Ние не гарантираме ниту одговорност за квалитетот на работата на изведувачите, ниту одговорност за било какви губи или штети што може да настанат како резултат од нивната работа.
        <br />
        3.2. Корисниците се поттикнати да ги проверат квалитетот и лиценците на изведувачите пред да се вклучат во било каква соработка.
        <br />
    </p><p>
        <strong>4. Комуникација и Приватност:</strong>
        4.1. Сите комуникации меѓу корисниците треба да бидат прилични и почитувачки.
        <br />
        4.2. Личните податоци и информации обменети преку оваа платформа треба да се користат само за целите на објавување и пронаоѓање на изведувачи и не смеат да бидат споделувани со трети лица.
    <br />
    </p><p>
        <strong>5. Споразуменије и Оплати:</strong>
        <br />
        5.1. Сите договори и споразуменија меѓу корисниците, вклучувајќи ги и условите за плаќање, треба да бидат усогласени меѓу нив.
    <br />
    </p><p>
        <strong>6. Промени на Политиката:</strong>
        <br />
        6.1. Ние имаме право да го менуваме и ажурираме оваа Политика за Користење во секое време. Ве молиме редовно проверувајте ја за најновите информации.
    <br />
    </p><p>Ви благодариме што избравте нашиот вебсајт за објавување на огласи за изведувачи. Доколку имате било какви прашања или недоумици, контактирајте не преку нашата поддршка за корисници.</p><p><em>Последно ажурирано на: [датум на последно ажурирање]</em></p>
</div>