@{
    ViewData["Title"] = "Privacy Policy";
}
<h1> Политика за Користење на Вебсајт - Објавување на Огласи за Изведувачи </h1>


<p class="text-body text-decoration-underline text-info text-wrap justify-content-around">
    <ul> 

    Добредојдовте на нашиот вебсајт за објавување огласи за изведувачи. Пред да продолжите со користење на оваа платформа, ве молиме внимателно прочитајте и се запознаете со нашата Политика за Користење. Оваа политика дефинира правила и услови кои се однесуваат на користењето на нашиот вебсајт и објавувањето на огласи за изведувачи. Со користењето на оваа платформа, се согласувате да ги прифатите и почитувате овие услови.
    <ul class="text-danger"> 
    1. Објавување на Огласи:
    <li> 
    Само лица стари 18 години и повеќе имаат дозвола да објавуваат огласи на нашиот вебсајт.
        </li>
        <li> 
    Објавувањето на огласи за изведувачи мора да биде точно и комплетно. Лажни и измамни информации не се дозволени.
        </li>
</ul>
<ul>
    2. Содржина на Огласите:
   <li> 
    2.1. Огласите мораат да бидат релевантни за услугите на изведувачите, како што се реновирање, градба, молерски услуги и слично.
            </li>
            <li> 
    2.2. Огласите не смеат да содржат обиди за промоција на неетички или незаконски активности.
            </li>
        </ul>
    3. Одговорност:
    3.1. Ние не гарантираме ниту одговорност за квалитетот на работата на изведувачите, ниту одговорност за било какви губи или штети што може да настанат како резултат од нивната работа.
    3.2. Корисниците се поттикнати да ги проверат квалитетот и лиценците на изведувачите пред да се вклучат во било каква соработка.

    4. Комуникација и Приватност:
    4.1. Сите комуникации меѓу корисниците треба да бидат прилични и почитувачки.
    4.2. Личните податоци и информации обменети преку оваа платформа треба да се користат само за целите на објавување и пронаоѓање на изведувачи и не смеат да бидат споделувани со трети лица.

    5. Споразуменије и Оплати:
    5.1. Сите договори и споразуменија меѓу корисниците, вклучувајќи ги и условите за плаќање, треба да бидат усогласени меѓу нив.

    6. Промени на Политиката:
    6.1. Ние имаме право да го менуваме и ажурираме оваа Политика за Користење во секое време. Ве молиме редовно проверувајте ја за најновите информации.
    </ul>
    <p> 
    Ви благодариме што избравте нашиот вебсајт за објавување на огласи за изведувачи. Доколку имате било какви прашања или недоумици, контактирајте не преку нашата поддршка за корисници.

    Последно ажурирано на: 12.06.23
</p>
</p>
